* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto Slab", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
}
@media (max-width: 1300px) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 62.5%;
  }
}

html,
body {
  overflow-x: hidden;
}

button {
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 135rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 6.2rem;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
header .container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
header .container .nav nav {
  margin-left: 5.9rem;
}
header .container .nav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
header .container .nav nav ul li:not(:last-child) {
  margin-right: 2.5rem;
}
header .container .nav nav ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #2c3a2f;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
header .container .nav nav ul li a:hover {
  color: #0089bc;
}
header .container .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
header .container .login .dia {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
header .container .login .dia a {
  font-size: 12px;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.18px;
  font-weight: bold;
}
header .container .login .dia img {
  width: 25px;
  margin-left: 6px;
}
header .container .login .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
header .container .login .icons img:not(:last-child) {
  margin-right: 3rem;
}

.s-hero {
  margin-top: 6.2rem;
}
.s-hero .upper-area {
  background-color: #033244;
  height: 7.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.s-hero .upper-area .container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.s-hero .upper-area .container .menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.s-hero .upper-area .container .menu nav ul li:not(:last-child) {
  margin-right: 3.3rem;
}
.s-hero .upper-area .container .menu nav ul li button {
  margin-right: 4.1rem;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
  text-transform: uppercase;
}
.s-hero .upper-area .container .menu nav ul li button img {
  margin-left: 0.9rem;
  width: 1rem;
}
.s-hero .upper-area .container .menu nav ul li a {
  color: #ffffff;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.s-hero .upper-area .container .menu form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.s-hero .upper-area .container .menu form input {
  height: 4rem;
  max-width: 23.8rem;
  width: 100%;
  padding: 0.8rem 1.5rem;
}
.s-hero .upper-area .container .menu form button img {
  width: 2.3rem;
}