footer {
  padding-top: 4.3rem;
  padding-bottom: 4.6rem;
  background-color: $bg-1;
  border-top: 5px solid $bg-btn-1;
  .container {
    .upper-area {
      margin-bottom: 15.3rem;
      @include flex(row, flex-start, space-between);
      h3 {
        font-size: 2.4rem;
        color: $white;
      }
      .links {
        @include flex(row, flex-start, flex-end);
        .group {
          margin-right: 3rem;
          h4 {
            color: $text-8;
            font-size: 1.8rem;
            font-weight: 900;
            text-transform: uppercase;
            margin-right: 6rem;
            margin-bottom: 2rem;
          }
          ul {
            li {
              &:not(:last-child) {
                margin-bottom: 1rem;
              }
              a {
                color: $text-6;
                font-size: 1.4rem;
                transition: color 0.3s;
                &:hover {
                  color: $text-7;
                }
              }
            }
          }
        }
        .business-hours {
          display: flex;
          flex-direction: column;

          h4 {
            color: $text-8;
            font-size: 1.8rem;
            font-weight: 900;
            text-transform: uppercase;
            margin-right: 6rem;
            margin-bottom: 2rem;
          }
          p {
            color: $text-7;
            display: block;
            max-width: 16.3rem;
            width: 100%;
            font-size: 1.4rem;
          }
        }
      }
    }
    .lower-area {
      border-top: 0.2rem solid #e1e1e1;
      padding-top: 2rem;

      @include flex(row, flex-start, space-between);
      .copyright {
        span {
          font-size: 1.4rem;
          color: #e1e1e1;
        }
      }
      .social {
        padding-right: 2rem;
        span {
          color: $bg-btn-2;
          font-size: 2rem;
        }
        .icons {
          margin-top: 1.6rem;
          @include flex(row, center, unset);
          a {
            &:not(:last-child) {
              margin-right: 2.9rem;
            }
            img {
              max-width: 2.9rem;
              width: 100%;
            }
          }
        }
      }
    }
  }
  @include responsive(800px) {
    .container {
      .upper-area {
        flex-direction: column;
        margin-bottom: 7.3rem;
        h3 {
          margin-bottom: 4rem;
        }
        .links {
          width: 100%;
          justify-content: space-between;
          .group {
            margin-right: 4rem;
          }
        }
      }
    }
  }
  @include responsive(600px) {
    .container {
      .upper-area {
        .links {
          display: flex;
          flex-direction: column;

          .group {
            margin-right: 0;
            margin-bottom: 3rem;
            h4 {
              margin-right: 0;
              margin-bottom: 1rem;
            }
          }
          .business-hours {
            h4 {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
  @include responsive(400px) {
    .container {
      .lower-area {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        .social {
          margin: 3rem auto 0 auto;
          padding-right: 0;
          text-align: center;
          .icons {
            justify-content: center;
          }
        }
      }
    }
  }
}
