header {
  width: 100%;
  height: 6.2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: $white;
  border-bottom: 3px solid $bg-btn-2;
  @include flex(row, center, center);
  .container {
    @include flex(row, center, space-between);
    .nav {
      @include flex(row, center, center);
      nav {
        margin-left: 5.9rem;
        ul {
          @include flex(row, center, center);
          li {
            &:not(:last-child) {
              margin-right: 2.5rem;
            }
            a {
              text-decoration: none;
              font-size: 14px;
              color: $text-2;
              position: relative;
              transition: color 0.3s ease-in-out;
              &::before {
                content: "";
                position: absolute;
                top: 100%;
                width: 100%;
                height: 2px;
                background-color: $text-5;
                transform: scaleX(0);
                transition: transform 0.3s ease-in-out;
              }

              &:hover {
                color: $text-5;
              }

              &:hover::before {
                transform: scaleX(1);
              }
            }
          }
        }
      }
    }
    .login {
      @include flex(row, center, center);
      .dia {
        margin-right: 30px;
        cursor: pointer;
        @include flex(row, center, center);
        span {
          font-size: 12px;
          text-transform: uppercase;
          color: $black;
          letter-spacing: 0.18px;
          font-weight: bold;
        }
        i {
          display: block;
          margin-left: 1rem;
        }
      }
      .icons {
        @include flex(row, center, space-between);
        a {
          transition: transform 0.3s;
          &:hover {
            transform: scale(1.08);
          }
          &:first-child {
            margin-right: 3rem;
          }
        }
        button {
          display: none;
          img {
            width: 1.8rem;
          }
        }
      }
    }
  }

  @include responsive(600px) {
    .container {
      nav {
        display: none;
      }
      .login {
        .dia {
          display: none;
        }
        .icons {
          button {
            margin-left: 3rem;
            display: block;
            img {
              width: 3rem;
            }
          }
        }
      }
    }
  }
}
