$bg-1: #283137;
$bg-2: #033244;
$bg-btn-1: #0089bc;
$bg-btn-2: #71d8ff;

$item-menu-modal: #39393b;

$card-darker: #101912;

$text-1: #101912;
$text-2: #2c3a2f;
$text-3: #033244;
$text-4: #005271;
$text-5: #0089bc;
$text-6: #00aeef;
$text-7: #b2eaff;
$text-8: #e2f7ff;
$text-9: #f8fcfe;

$white: #ffffff;
$black: #000000;

$ease: cubic-bezier(0.25, 0.1, 0.25, 1);
$easeInOut: cubic-bezier(0.42, 0, 0.58, 1);
