$bg-1: #283137;
$bg-2: #033244;
$bg-btn-1: #0089bc;
$bg-btn-2: #71d8ff;

$text-2: #101912;
$text-2: #033244;
$text-3: #005271;
$text-4: #0089bc;
$text-5: #00aeef;
$text-6: #b2eaff;
$text-7: #e2f7ff;
$text-8: #f8fcfe;
